* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.card {
    width: 250px;
    height: 450px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.694);
    box-shadow:  2px 2px 5px 2px rgba(0, 0, 2, 0.694);
    position: relative;
}
.card2 {
    flex-direction: column;
    gap: 20px;
    width: 250px;
    height: 450px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.694);
    box-shadow:  2px 2px 5px 2px rgba(0, 0, 2, 0.694);
}
.div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 80%;
    height: 150px;
     
    border-bottom: 0.4px solid #010101;
    margin-top: 10px;

}
.div-img > img {
    width: 100%;
    height: 50%px;
   
}
.card > div {
    padding: 5%;
    align-items: center;
}


div > p {
    padding-top: 15px;
    font-size: 15pt;
    
}
.span1 {
    display: flex;
    padding-top: 15px;
    font-size: 0.8rem;
    font-weight: 600;
    color: gray;
    
}

.span2 {
    font-size: 15pt;
    font-weight: 600;
   
}
#btn1 {
    background-color: rgb(37, 248, 0);
    display: flex;
    width: 97%;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 12pt;
    
}
#btn2 {
  
    margin-top: 30px;
    color: gray;
    font-weight: 700;
}

.img2-div {
   width: 200px;
   height: 160px;
   margin: auto;
   margin-bottom: 10px;
   border-bottom: 0.4px solid #010101;
}
#img2 {
    display: flex;
    margin: auto;
    width: 60%;
    height: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 600;
}
.pricipal {
    display: flex;
    gap: 30px;
    box-shadow:  1px 1px 1px 1px rgba(0, 0, 255, 0.517);
    border: 1px solid blue;
}

.btn-next {
    position: absolute;
    background-color: rgba(6, 204, 6, 0.846);
    width: 50px;
    height: 50px;
    display: flex;
    top: 20%;
    left: 82%;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    
}
.btn-back {
    position: absolute;
    background-color: rgba(6, 204, 6, 0.846);
    width: 50px;
    height: 50px;
    display: flex;
    top: 20%;
    left: -4%;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    
    
}
.btn-next:hover, .btn-back:hover {
    transform: scale(1.2);
    
}

.cor-preto {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: black;
}
.cor-rosa {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(206, 7, 40);
}
#bloco-txt {
    position: relative;
}
#div-cores {
    gap: 8px;
    display: flex;
    
    width: 80px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 65%;
   
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.468);
    border-radius: 5px;
}
